@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
@charset "UTF-8";
/* Starter CSS for Flyout Menu */


/* ________________________________________________________  */
/* ________________________________________________________  */
/* CSS div menu  */
/* ________________________________________________________  */
/* ________________________________________________________  */
#menu {
	float:left;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 1;
	height:100vh;
	width: 200px;
	background: white;
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
	zoom: 1;
	font-size: 12px;
}

#menu ul,
#menu ul li,
#menu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#menu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#menu ul li.hover,
#menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#menu ul ul li {
  float: none;
}
#menu ul ul ul {
  top: -2px;
  right: 0;
}
#menu ul li:hover > ul {
  visibility: visible;
}
#menu ul ul {
  top: 1px;
  left: 99%;
}
#menu ul li {
  float: none;
}
#menu ul ul {
  margin-top: 1px;
}
#menu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */

#menu:before {
  content: '';
  display: block;
}
#menu:after {
  content: '';
  display: table;
  clear: both;
}
#menu a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#menu > ul {
  width: 200px;
}
#menu ul ul {
  width: 200px;
}
#menu > ul > li > a {
  border-right: 4px solid #1b9bff;
  color: #ffffff;
}
#menu > ul > li > a:hover {
  color: #ffffff;
}
#menu > ul > li.active a {
  background: #1b9bff;
}
#menu > ul > li a:hover,
#menu > ul > li:hover a {
  background: #1b9bff;
}
#menu li {
  position: relative;
}
#menu ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#menu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#menu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#menu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#menu ul ul {
  border: 1px solid #0082e7;
}
#menu ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#menu ul ul a:hover {
  color: #ffffff;
}
#menu ul ul li {
  border-bottom: 1px solid #0082e7;
}
#menu ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
#menu.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#menu.align-right {
  float: right;
}
#menu.align-right li {
  text-align: right;
}
#menu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#menu.align-right ul li.has-sub > a:after {
  content: none;
}
#menu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#menu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#menu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#menu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}


/* ________________________________________________________  */
/* ________________________________________________________  */
/* CSS div pub  */
/* ________________________________________________________  */
/* ________________________________________________________  */

#pub {
	float:right;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 1;
	height:100vh;
	width: 200px;
	background: white;
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
	zoom: 1;
	font-size: 12px;
}



/* Starter CSS for Flyout Menu */

/* ________________________________________________________  */
/* ________________________________________________________  */
/* CSS div menu  */
/* ________________________________________________________  */
/* ________________________________________________________  */

#footer{
border-top:1px dotted #f00;}

#main{
  background: silver;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;


}

#IMG{
    margin-left: 100px;
   }



